/*
dark blue
-bg-primary: #23232e;
-bg-secondary: #141418;

green
-bg-primary: #4CAF50;
-bg-secondary: #008000;
*/
* {
    -text-primary: #b6b6b6;
    -text-secondary: #ececec;
    -bg-primary: #23232e;
    -bg-secondary: #141418;

}
.sidebar-button {
    -fx-background-color: -bg-primary;
    -fx-text-fill: -text-primary;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-alignment: center-left;
    -fx-font-size: 16px;
}

.sidebar-button:hover {
    -fx-background-color: -bg-secondary;
    -fx-text-fill: -text-secondary;
    -fx-font-size: 17px;
}
.sidebar-vbx {
    -fx-background-color: -bg-primary;
}
.btnSync {

}
