.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.sidebar-button {
    -fx-background-color: -fx-sidebar-primary;
    -fx-text-fill: -fx-secondarytext;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-alignment: center-left;
    -fx-font-size: 16px;
}
.sidebar-icon {
    -fx-fill: -fx-secondary;
}
.sidebar-button:hover {
    -fx-background-color: derive(-fx-sidebar-primary, -60%);
    -fx-text-fill: derive(-fx-secondarytext, 60%);
    -fx-font-size: 17px;
    -fx-border-style: solid;
    -fx-border-color: -fx-secondary;
}
.sidebar-vbx {
    -fx-background-color: -fx-sidebar-primary;
}
.btn {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.btn:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}
.text-field
{
    -fx-font-size : 12pt;
    -fx-control-inner-background: derive(-fx-primary, 10%);
    -fx-text-fill: derive(-fx-secondary, 20%);
    -fx-border-color: -fx-primary -fx-primary -fx-sidebar-primary -fx-primary;
    -fx-background-radius: 0;
    -fx-border-width: 2;
}
.text-field:hover, .text-field:focused
{
    -fx-border-color: -fx-primary -fx-primary -fx-secondary -fx-primary;
}
/*Text styling*/
.label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
}


/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px;
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;
}
.table-column.align-left {
    -fx-alignment: CENTER_LEFT;
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}

/*Progress bar*/

.progress-bar .track{
    -fx-background-color: -fx-secondarytext;
    -fx-background-insets: 2;
}
.progress-bar .bar{
    -fx-background-color: -fx-secondary;
    -fx-background-insets: 2;
    -fx-padding: 0.40em;
}

/*Combo box*/

.combo-box,
.choice-box {
    -fx-font-size: 14px;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-border-color: -fx-primary -fx-primary -fx-sidebar-primary -fx-primary;
    -fx-border-width: 2;

}
.combo-box .list-cell:filled .text,
.choice-box .list-cell:filled .text {
    -fx-fill: #000000;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: derive(-fx-secondary, 20%);
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: -fx-primarytext;
}
.combo-box:hover
{
    -fx-border-color: -fx-primary -fx-primary -fx-secondary -fx-primary;
}

.hyperlink {
    -fx-font-size: 14px;
}